.banner1,
.banner2,
.banner3 {
    width: 100%;
    height: 450px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    background-size: cover;
    background-position: center;
}

.banner1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.59), rgba(0, 0, 255, 0.331)), url('./CarRental/assets/banner1.jpg');
}

.banner2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.59), rgba(0, 0, 255, 0.331)), url('./CarRental/assets/banner2.jpg');
}

.banner3 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.59), rgba(0, 0, 255, 0.331)), url('./CarRental/assets/banner3.jpg');
}

.carousel h2 {
    font-weight: 900;
}

.carousel p {
    font-weight: 100;
}

form p {
    color: red;
    padding: 0px 10px;
}

.carousel-item button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 10px;
}

.carousel-item button:hover {
    background-color: white;
    color: black;
}

aside {
    text-align: center;
    border-right: 1px solid grey;
    padding: 30px !important;
}

aside button {
    width: 100%;
    height: 50px;
    border: none;
    margin-bottom: 20px;
}

.welcome {
    background-color: lightblue;
    height: 100%;
}